
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,body{
    height: 100%;
    width: 100%; 
    }
    #page1{
      min-width:100%;
      width: 100%;
      color: yellow;
      background-image: url(https://images.squarespace-cdn.com/content/v1/62a7eabb5208432deb18f818/b3b160f5-4901-4e2c-a88d-bcc7ab76dbec/image-asset.jpg?format=2500w);
      background-size: cover;
    }
    #page1{
      min-height:100%;
      width: 100%;
    }
   
    #content{
      padding: 20px 30px;
       }
    a{
      color: white;
    }
    #explore{
      font-size: 15px;
      border: 1px solid white;
      padding: 8px 10px;
    }
    nav{
    height: 60px;
    width: 100%;
    background-color:lightsalmon ;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 30px;

    }
    #show{
      color: red;
      font-size: 18px;
      text-decoration: underline black;
    }
   
